<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcordaSocial"
        tools:targetApi="31">
        <activity
            android:name=".detalhesActivity"
            android:exported="false" />
        <activity
            android:name=".Usuario.historico_servicos"
            android:exported="false" />
        <activity
            android:name=".Vagas.CriarVagaActivity"
            android:exported="false" />
        <activity
            android:name=".Vagas.service_description"
            android:exported="false" />
        <activity
            android:name=".Usuario.perfilUsuario"
            android:exported="false" />
        <activity
            android:name=".feedPrincipal"
            android:exported="false" />
        <activity
            android:name=".Usuario.telaCadastro"
            android:exported="false" />
        <activity
            android:name=".Usuario.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>